@using FYP_MVC.Models.CoreObjects
@model FYP_MVC.Models.CoreObjects.ChartVisualizationObject

@{
    ViewBag.Title = "ShowRecommendation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
.listrap {
            list-style-type: none;
            margin: 0;
            padding: 0;
            cursor: default;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .listrap li {
            margin: 0;
            padding: 10px;
        }

        .listrap li.active, .listrap li:hover {
            background-color: #d9edf7;
        }

        .listrap strong {
            margin-left: 10px;
        }

        .listrap .listrap-toggle {
            display: inline-block;
            width: 60px;
            height: 60px;
        }

        .listrap .listrap-toggle span {
            background-color: #428bca;
            opacity: 0.8;
            z-index: 100;
            width: 60px;
            height: 60px;
            display: none;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            color: #ffffff;
        }

        .listrap .listrap-toggle span:before {
            font-family: 'Glyphicons Halflings';
            content: "\e013";
        }

        .listrap li.active .listrap-toggle span {
            display: block;
        }
</style>

<h2>Chart Recommendation</h2>
<div class="row">
    <div class="col-lg-4">
        <ul class="listrap">

            @{int count = Model.chartTypes.Length;}
            @for (int i = 0; i < count; i++)
            {
                <li class="active">
                    <div class="listrap-toggle">
                        <span></span>
                        <img src="http://lorempixel.com/60/60/people/?v=2" class="img-circle" />
                    </div>
                    <strong>@Html.ActionLink(Model.chartTypes[i], "visualizeDataFile", "Task", new { num = i }, null)</strong>
                </li>
            }
        </ul>
    </div>
    </div>

<br />
<a href="#" id="show" class="btn btn-success">Load more ...</a>
<br />
    <div id="hidden">
        <table class="table">
            <tr>
                <th>Chart</th>
            </tr>
            @for (int i = 0; i < Model.more_chartTypes.Length; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Model.more_chartTypes[i], "visualizeDataFile", "Task", new { num = i + count }, null)
                    </td>
                </tr>
            }

        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#hidden").hide();
            $(".listrap").listrap().on("selection-changed", function (event, selection) {
                console.log(selection);
            });

        });
        $("#show").click(function () {
            $("#hidden").show(2000);
        });



        jQuery.fn.extend({
            listrap: function () {
                var listrap = this;
                listrap.getSelection = function () {
                    var selection = new Array();
                    listrap.children("li.active").each(function (ix, el) {
                        selection.push($(el)[0]);
                    });
                    return selection;
                }
                var toggle = "li .listrap-toggle ";
                var selectionChanged = function () {
                    $(this).parent().parent().toggleClass("active");
                    listrap.trigger("selection-changed", [listrap.getSelection()]);
                }
                $(listrap).find(toggle + "img").on("click", selectionChanged);
                $(listrap).find(toggle + "span").on("click", selectionChanged);
                return listrap;
            }
        });

    </script>
