
@{
    ViewBag.Title = "ShowRecommendation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recommendations</h2>
@{
    List<string> arr = (List<string>)ViewBag.charts;
    foreach (var item in arr)
    {
        <p>@item</p>
        <br />
    }
}

