@using FYP_MVC.Models.CoreObjects
@model FYP_MVC.Models.CoreObjects.ChartVisualizationObject

@{
    ViewBag.Title = "ShowRecommendation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

<h2>Chart Recommendation</h2>


<table class="table">
    <tr>
        <th>Chart</th>
    </tr>
    @{int count = Model.chartTypes.Length; }
    @for (int i = 0; i < count; i++)
    {
        <tr>
            <td>
                <img src="~/Content/img/chartImages/@(Model.chartTypes[i]).png" alt="" style="width:130px; height:auto;">
                @Html.ActionLink(Model.chartTypes[i], "visualizeDataFile", "Task", new { num = i }, null)
            </td>
        </tr>
    }

</table>
<br />
<a href="#" id="show"class="btn btn-success">Load more ...</a>
<br />
<div id="hidden" >
    <table class="table">
        <tr>
            <th>Chart</th>
        </tr>
        @for (int i = 0; i < Model.more_chartTypes.Length; i++)
        {
            <tr>
                <td>
                    @Html.ActionLink(Model.more_chartTypes[i], "visualizeDataFile", "Task", new { num = i+ count }, null)
                </td>
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $("#hidden").hide();
    });
    $("#show").click(function () {
        $("#hidden").show(2000);
    });
</script>