
@{
    ViewBag.Title = "ChartDiscriptionPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .new-deal{width:100%;float:left;padding:15px 0;}
.new-deal .item-slide{position: relative;overflow: hidden;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;margin:15px 0;}
.new-deal .slide-hover{ position: absolute;height: 100%;width: 100%;left: -100%; background:rgba(0,0,0,.5);top: 0;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;  }
.new-deal .item-slide:hover .slide-hover{left:0px;}
.new-deal img{width:348px;height:250px;}
.text-wrap {position: absolute;bottom: 0;left: 0;width: 100%;color: #fff;background: rgba(0, 0, 0, .5);z-index:999;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;}
.text-wrap h3{padding:0 5px; color:white}
.box-img{width: 100%;   float: left;    -moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;    overflow: hidden;    border: 1px solid #ccc;}
.text-wrap .desc{width:50%;float:left;padding:0 5px;}
.text-wrap p{padding: 15px;font-size: 15px;text-align: center;font-weight: normal;text-shadow: 2px 2px 3px #000;color:white}
.text-wrap .desc h4{margin:0px;font: 400 17px/21px "Roboto";}
.text-wrap .desc h3{margin:0px;font: 400 32px/36px "Roboto";}
.new-deal .item-slide:hover .text-wrap{background:none}
.book-now-c {float:right;padding:10px;}
.book-now-c a {background: #029a8b;color: #fff;padding: 5px;border-radius: 5px;margin-top:0px;float: left;min-width: 101px;text-align: center;font-size: 16px;}
.new-deal .item-slide:hover .box-img .text-wrap{bottom:-100%;}
</style>

<h2>Know your charts</h2>


<section class="new-deal">
    <div class="container">
        

        <!--parallel coordinates-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Parallel cordinates.png" />
                    <div class="text-wrap">
                        <h3>Parallel Coordinates</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Parallel coordinates are a common way of visualizing high-dimensional geometry and analyzing multivariate data.
</p>
                        <h3>Parallel Coordinates</h3>

                    </div>
                </div>
            </div>
        </div>


        <!--normalized stacked bar-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Nomalized stacked bar chart.png" />
                    <div class="text-wrap">
                        <h3>Normalized Stacked Bar</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Normalized Stacke Bar chart is a graph that is used to break down and compare parts of a whole. Each bar in the chart represents a whole, and segments in the bar represent different parts or categories of that whole</p>
                        <h3>Normalized Stacked Bar</h3>

                    </div>
                </div>
            </div>
        </div>
        
        <!--geo region-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Mark Area  map.png" />
                    <div class="text-wrap">
                        <h3>Geo Region</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A geomap is a map of a country, continent, or region map, with colors and values assigned to specific regions. Values are displayed as a color scale, and you can specify optional hovertext for regions
</p>
                        <h3>Geo Region</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--pie chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Pie chart.png" />
                    <div class="text-wrap">
                        <h3>Pie Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Pie chart is another stupid chart which u can used to plot your stupid data inside a stupid 360 circle</p>
                        <h3>Pie Chart </h3>

                    </div>
                </div>
            </div>
        </div>

        <!--calender chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Calender view chart.png" />
                    <div class="text-wrap">
                        <h3>Calender Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Calendar Chart Add-In is a tool to visualize the daily data into calendar view. For example, you can use this chart to visualize the game or class attendance, daily stock/security return to spot if the seasonal pattern exists in the observed data. The color in each cell reflect the data value.
</p>
                        <h3>Calender Chart</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--cluster dendagram-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Sankey diagram.png" />
                    <div class="text-wrap">
                        <h3>Sankey Diagram</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Sankey diagrams are a specific type of flow diagram, in which the width of the arrows is shown proportionally to the flow quantity. Sankey diagram which represents all the primary energy flows in to factory. The widths of the bands are directly proportional to energy production, utilization and losses
</p>
                        <h3>Sankey Diagram</h3>

                    </div>
                </div>
            </div>
        </div>



        <!--area chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Area chart.png" />
                    <div class="text-wrap">
                        <h3>Area Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>An area chart or area graph displays graphically quantitative data. It is based on the line chart. The area between axis and line are commonly emphasized with colors, textures and hatchings. Commonly one compares with an area chart two or more quantities.
</p>
                        <h3>Pie Chart </h3>

                    </div>
                </div>
            </div>
        </div>

        <!--bivariate area chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Bivariate area chart.png" />
                    <div class="text-wrap">
                        <h3>Bivariate Area Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>An area chart or area graph displays graphically quantitative data. It is based on the line chart. The area between axis and line are commonly emphasized with colors, textures and hatchings. Commonly one compares with an area chart two or more quantities.</p>
                        <h3>Bivariate Area Chart</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--bar chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Bar chart.png" />
                    <div class="text-wrap">
                        <h3>Bar Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A bar chart or bar graph is a chart or graph that presents grouped data with rectangle|rectangular bars with lengths proportional to the values that they represent</p>
                        <h3>Bar Chart</h3>

                    </div>
                </div>
            </div>
        </div>


        <!--box plot chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Boxplot.png" />
                    <div class="text-wrap">
                        <h3>Box Plot</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Boxplot is a convenient way of graphically depicting groups of numerical data through their quartiles.</p>
                        <h3>Box Plot</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--bubble chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Bubble chart.png" />
                    <div class="text-wrap">
                        <h3>Bubble Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A bubble chart is a type of chart that displays three dimensions of data. Each entity with its triplet (v1, v2, v3) of associated data is plotted as a disk that expresses two of the vi values through the disk's xy location and the third through its size.
</p>
                        <h3>Bubble Chart</h3>

                    </div>
                </div>
            </div>
        </div>

        

        

        <!--geo marker-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Pin point location  map.png" />
                    <div class="text-wrap">
                        <h3>Geo Marker</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A Geochart is a map of a country, a continent, or a region. The marker mode marks designated regions using bubbles that are scaled according to a value that you specify.
</p>
                        <h3>Geo Marker</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--grouped bar chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Grouped bar chart.png" />
                    <div class="text-wrap">
                        <h3>Grouped Bar Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Grouped bar charts are a way of showing information about different sub-groups of the main categories. In the example below, a grouped bar chart is used to show the different schemes (sub-groups) by which different categories of household materials are recycled.</p>
                        <h3>Grouped Bar Chart</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--histogram-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Histrogram.png" />
                    <div class="text-wrap">
                        <h3>Histogram</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A Histogram shows history representation of the distribution of numerical data. It is an estimate of the probability distribution of a continuous variable
</p>
                        <h3>Histogram</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--normalized stacked area-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Normalized stacked area chart.png" />
                    <div class="text-wrap">
                        <h3>Normalized Stacked Area</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Stacked Area Graphs work in the same way as simple Area Graphs do, except for the use of multiple data series that start each point from the point left by the previous data series.</p>
                        <h3>Normalized Stacked Area</h3>

                    </div>
                </div>
            </div>
        </div>

       

        

        <!--scatter plot-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Scatterplot.png" />
                    <div class="text-wrap">
                        <h3>Scatter Plot</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Scatter plots are similar to line graphs in that they use horizontal and vertical axes to plot data points. However, they have a very specific purpose. Scatter plots show how much one variable is affected by another. The relationship between two variables is called their correlation
</p>
                        <h3>Scatter Plot</h3>

                    </div>
                </div>
            </div>
        </div>  
        
        <!--stacked bar-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Stacked bar chart.png" />
                    <div class="text-wrap">
                        <h3>Stacked Bar Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p> Stacke Bar chart is a graph that is used to break down and compare parts of a whole. Each bar in the chart represents a whole, and segments in the bar represent different parts or categories of that whole. </p>
                        <h3>Stacked Bar Chart</h3>

                    </div>
                </div>
            </div>
        </div>     
        
        <!--stacked area-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Stacked area chart.png" />
                    <div class="text-wrap">
                        <h3>Stacked Area</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Stacked Area Graphs work in the same way as simple Area Graphs do, except for the use of multiple data series that start each point from the point left by the previous data series.</p>
                        <h3>Stacked Area</h3>

                    </div>
                </div>
            </div>
        </div> 

        <!--time line-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Time Line.png" />
                    <div class="text-wrap">
                        <h3>Time Line</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A timeline is a chart that depicts how a set of resources are used over time.</p>
                        <h3>Time Line</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--tree map-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Tree Map.png" />
                    <div class="text-wrap">
                        <h3>Tree Map</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>Treemap is a space-constrained visualization of hierarchical structures. It is very effective in showing attributes of leaf nodes using size and color coding. Treemap enables users to compare nodes and sub-trees even at varying depth in the tree, and help them spot patterns and exceptions.
</p>
                        <h3>Tree Map</h3>

                    </div>
                </div>
            </div>
        </div>

        <!--word chart-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
            <div class="item-slide">
                <div class="box-img">
                    <img src="~/Content/img/chartImages/Clusture dendogram.png" />
                    <div class="text-wrap">
                        <h3>Word Chart</h3>
                        <div class="desc">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="slide-hover">
                    <div class="text-wrap">
                        <p>A word tree depicts multiple parallel sequences of words. It could be used to show which words most often follow or precede a target word (e.g., "Cats are...") or to show a hierarchy of terms (e.g., a decision tree).
</p>
                        <h3>Word Chart</h3>

                    </div>
                </div>
            </div>
        </div>

    </div>
    
</section>
