
@{
    ViewBag.Title = "DevTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Development Team</h2>

<ul>
    <li><span class="label label-primary">Prasad Maduranga</span><br />
   
    Email :- prasad.12@cse.mrt.ac.lk<br />
    Blog  :- 
    </li>
    <li>
        <span class="label label-success">Lahiru Madushanka</span><br />
        Email :- gdlmadushanka.12@cse.mrt.ac.lk<br />
        Blog  :- <a href="https://lahirumadushankablog.wordpress.com/">blog</a><br />
    </li>
    <li>
        <span class="label label-warning">Dilshan Kanchana</span><br />
        Email :- kanchana.12@cse.mrt.ac.lk<br />
        Blog  :- <br />
    </li>
    <li>
        <span class="label label-info">Dhanushka Madushan</span><br />
        Email :- udayanga.12@cse.mrt.ac.lk
        Blog  :-
    </li>
</ul>

