
@{
    ViewBag.Title = "DevTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Development Team</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-2">

            <div class="card hovercard">
                <div class="cardheader1">

                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/img/blog/prasad.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Prasad Maduranga</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn2 btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn2 btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn2 btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/prasad.maduranga.378?fref=ts">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn2 btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-sm-2">

            <div class="card hovercard">
                <div class="cardheader2">

                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/img/blog/dilshan.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Dilshan Kanchana</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn2 btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn2 btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn2 btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/dilshan.kanchana.7">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn2 btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-sm-2">

            <div class="card hovercard">
                <div class="cardheader3">

                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/img/blog/lahiru.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Lahiru Madushanka</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn2 btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn2 btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn2 btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/lahiru.madushanka.5492?fref=ts">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn2 btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-sm-2">

            <div class="card hovercard">
                <div class="cardheader4">

                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/img/blog/aba.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Dhanushka Madushan</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn2 btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn2 btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn2 btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/dhanushka.madushan.37?fref=ts">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn2 btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>

