
@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guide</h2>
<div class="row">
    <div class="col-lg-7">
        <img src="~/Content/img/Guide.png" style="width:600px;height:400px" />
    </div>
    <div class="col-lg-5">
        <ul>
            <li><span class="label label-primary">Comparison</span><br />
                Comparison charts are used to compare the magnitude of values to each other and can be used to easily
                fnd the lowest and highest values in the data. It can also be used to compare current values versus old
                to see if the values are increasing or decreasing. Common questions are “what products sells best”
                and “how are our sales compared to last year”
            </li>
            <br />
            <li><span class="label label-success">Relationship</span><br />
            Relationship charts are used to see the relationship between the data and can be used to fnd
            correlations, outliers and clusters of data. Common questions are “is there a correlation between
            advertising spend and sales for our products” or “how does expenses and income vary
            per region and what’s the deviation”.
            </li>
            <br />

            <li><span class="label label-warning">Distribution</span><br />
            Distribution charts are used to see how quantitative values are distributed along an axis from lowest to
            highest. Looking at the shape of the data a user can identify characteristics such as the range of
            values, central tendency, shape and outliers. It can be used to answer questions such as
            “number of customers per age group” or “how many days late are our payments”.
            </li>
            <br />
            <li><span class="label label-info">Composition</span><br />
            Composition charts are used to see how a part compares to the whole and how a total value can be
            divided into shares. A composition charts shows the relative value, but some charts can also be used
            to show the absolute difference. The difference is between looking at percentage of total and value
            of total. Commons questions are “how big part of the market to we have in a region” or
            “what areas is our budget divided into”.</li>
        </ul>
    </div>
</div>
