
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-7">
                <div class="row">
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>
                          
                                <p class="detail-less">[less detail Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <p class="detail-more" style="display:none">[full detail] Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <a href="#" class="read-more">View More</a>
                                <a href="#" class="read-less" style="display:none">View Less</a>
                                
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>

                                <p class="detail-less">[less detail Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]<br/></p>
                                <p class="detail-more" style="display:none">[full detail] Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <br/></p>
                                <a href="#" class="read-more">View More</a>
                                <a href="#" class="read-less" style="display:none">View Less</a>

                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>

                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <a href="#" class="read-more">View More</a>

                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>

                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <a href="#" class="read-more">View More</a>

                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>

                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <a href="#" class="read-more">View More</a>

                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-6 col-sm-12 blog-padding-right">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="~/Content/img/blog/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#"> <br><small></small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails.html">Advanced business cards design</a></h2>

                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber [...]</p>
                                <a href="#" class="read-more">View More</a>

                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="blog-pagination">
                    <ul class="pagination">

                        <li class="active"><a href="#">1</a></li>
                        <li>@Html.ActionLink("2", "page2", "Blog")</li>
                        <li>@Html.ActionLink("3", "page3", "Blog")</li>
                        <li>@Html.ActionLink("4", "page4", "Blog")</li>                       
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
</section>
<script>

    $(".read-more").click(function (e) {
        e.preventDefault();
        $(this).closest('.post-content').find('.detail-less').css("display", "none");
        $(this).closest('.post-content').find('.detail-more').css("display", "inline");
        $(this).css("display", "none");
        $(this).closest('.post-content').find(".read-less").css("display", "inline");

    });

    $(".read-less").click(function (e) {
        e.preventDefault();
        $(this).closest('.post-content').find('.detail-less').css("display", "inline");
        $(this).closest('.post-content').find('.detail-more').css("display", "none");
        $(this).css("display", "none");
        $(this).closest('.post-content').find(".read-more").css("display", "inline");

    })
</script>