@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue">
                <i class="fa fa-warning"></i>
            </span>
            <div class="text-box">
                <p class="main-text">52 Important Issues to Fix </p>
                <p class="text-muted">Please fix these issues to work smooth</p>
                <p class="text-muted">Time Left: 30 mins</p>
                <hr />
                <p class="text-muted">
                    <span class="text-muted color-bottom-txt">
                        <i class="fa fa-edit"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>