@model FYP_MVC.Models.CSVFile
@{
    ViewBag.Title = "showContextInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Context Info</h2>
@{Html.BeginForm("Recommendations", "Task", FormMethod.Post);
<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped table-hover ">
            <thead>
                <tr class="info">
                    <th>Column</th>
                    <th>Predicted Context</th>
                    <th>Actual Context</th>
                </tr>
            </thead>
            <tbody>
                
                @for (int i = 0; i < Model.Data.Length; i++)
                {

                    if (Model.Data[i].selected)
                    {
                <tr>
                    <td>@Model.Data[i].Heading</td>
                    <td>
                        @{
                            string classname = "";
                            switch (Model.Data[i].Context)
                            {
                                case "Nominal": { classname = "label label-primary"; break; }
                                case "Location": { classname = "label label-success"; break; }
                                case "Numeric": { classname = "label label-warning"; break; }
                                case "Persentage": { classname = "label label-danger"; break; }
                                case "DateTime": { classname = "label label-info"; break; }
                            }

                        }
                    <span class="@classname">@Model.Data[i].Context</span>
                    </td>

                  

                    <td>
                        @{  
                            List<SelectListItem> lis = new List<SelectListItem>();
                            SelectListItem item_nominal = new SelectListItem();
                            item_nominal.Text = "Nominal";
                            item_nominal.Value = "Nominal";

                            SelectListItem item_Location = new SelectListItem();
                            item_Location.Text = "Location";
                            item_Location.Value = "Location";

                            SelectListItem item_Numeric = new SelectListItem();
                            item_Numeric.Text = "Numeric";
                            item_Numeric.Value = "Numeric";

                            SelectListItem item_Persentage = new SelectListItem();
                            item_Persentage.Text = "Persentage";
                            item_Persentage.Value = "Persentage";

                            SelectListItem item_DateTime = new SelectListItem();
                            item_DateTime.Text = "DateTime";
                            item_DateTime.Value = "DateTime";

                            switch (Model.Data[i].Context)
                            {
                                case "Nominal": { item_nominal.Selected = true; lis.Add(item_nominal); break; }
                                case "Location": { item_Location.Selected = true; lis.Add(item_nominal); lis.Add(item_Location); break; }
                                case "Numeric": { item_Numeric.Selected = true; lis.Add(item_nominal); lis.Add(item_Numeric); break; }
                                case "Persentage": { item_Persentage.Selected = true; lis.Add(item_nominal); lis.Add(item_Numeric); lis.Add(item_nominal); break; }
                                case "DateTime": { item_DateTime.Selected = true; lis.Add(item_nominal); lis.Add(item_DateTime); break; }
                            }

                            @Html.DropDownListFor(c => c.Data[i].Context, lis, Model.Data[i].Context);
                         }
                </td>
                
            </tr>
                                }
                            }
            </tbody>
        </table>
    </div>
</div>
<button type="submit">submit</button>

}